@model App.Web.ViewModel.UserVm

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="card">
    <form>
        <div class="card-header">
            <h5> Register </h5>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="@Model.Name">Name</label>
                <input type="email" class="form-control" placeholder="Your name">
            </div>
            <div class="form-group">
                <label for="@Model.Phone">Email address</label>
                <input type="email" class="form-control" placeholder="Your phone number">
            </div>
            <div class="form-group">
                <label for="@Model.Email">Email address</label>
                <input type="email" class="form-control" placeholder="Your email address">
            </div>
            <div class="form-group">
                <label for="@Model.Password">Password</label>
                <input type="password" class="form-control" placeholder="Enter password">
            </div>
        </div>
    </form>
</div>